menu {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 1rem);
  width: 3rem;
  border-right: 2px solid var(--text);
  padding: 0.5rem 0;
  transition: width 1s ease-in-out, max-width 1s ease-in-out;
}

@media screen and (max-width: 824px) {
  menu {
    display: none;
  }
}

menu.active {
  width: 12rem;
}

menu > .media {
  display: flex;
  flex-direction: column;
}

menu .icon {
  margin: 0.5rem 0;
  color: var(--slate-blue);
}

#menu-btn {
  position: relative;
  align-self: flex-end;
  color: var(--accent);
  margin-right: 0.125rem;
  font-size: 2rem;
  transition: width 1s ease;
}

#menu-btn.active {
  align-self: flex-end;
}

#menu-btn:hover {
  cursor: pointer;
}

menu > nav {
  position: relative;
  top: -25%;
  right: 3rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 1rem;
}

nav > a {
  display: flex;
  padding: 1rem 0.5rem;
  transition: translate 0.25s ease;
}

menu > nav > a::before {
  content: "\2014";
  margin-right: 4px;
  transform: scale(0);
  transition: transform 0.2s ease;
}

menu > nav > a:hover {
  font-weight: 700;
  translate: 16px;
}

menu > nav > a:hover::before {
  transform: scale(1);
}

.media {
  font-size: 1.25rem;
}
