menu {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 2.5rem);
  width: 5%;
  max-width: 4.5em;
  border-right: 2px solid var(--text);
  padding: 1.25rem 0;
  transition: width 1s ease-in-out, max-width 1s ease-in-out;
}

menu.active {
  width: 15.5rem;
  max-width: 15.5rem;
}

menu > .media {
  display: flex;
  flex-direction: column;
}

menu .icon {
  margin: 0.5rem 0;
  color: var(--slate-blue);
}

.menu-btn {
  align-self: flex-end;
  padding: 0 27.5%;
  color: var(--accent);
  font-size: 2rem;
  transition: padding 1.5s ease-out;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn.active {
  padding: 0 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

nav.hidden {
  opacity: 0;
}

nav > a {
  display: flex;
  padding: 1rem 0.5rem;
}

nav > a:hover {
  background-color: var(--accent);
  color: var(--background);
}

.media {
  font-size: 1.25rem;
}
