.project {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border: 1px solid var(--text);
}

.project:nth-child(even) {
  top: -60px;
}

.project:nth-child(odd) {
  top: 60px;
}

@media screen and (max-width: 1028px) {
  .project:nth-child(even),
  .project:nth-child(odd) {
    top: 0;
  }
}

.project img {
  align-self: center;
  width: 80%;
  margin-top: 8px;
  object-fit: scale-down;
}

.project > hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--text);
}

.project-content {
  min-height: 175px;
  padding-bottom: 1.75rem;
}

.project-content > h2 {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-content > h2,
.project-content > p,
.project-content > .tag-list {
  padding: 0.25rem 1rem;
}

.project-content > .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-content .tag {
  border: 1px solid var(--text);
  padding: 0.5em;
  font-size: 1.1rem;
  font-weight: 100;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.project-content .tag:hover {
  background-color: var(--secondary);
  color: var(--background);
  font-weight: 700;
  cursor: pointer;
}

.project-content > .externals {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.25em;
  font-size: 1.25rem;
}

.project-content > .externals > a {
  margin: 0;
  padding: 0 0.25em;
  transition: font-size 0.25s ease;
}

.project-content > .externals > a:hover {
  color: var(--accent);
  font-size: 1.5rem;
  cursor: pointer;
}
