header {
  position: relative;
}

header.hidden > nav {
  display: none;
}

header > nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--text);
  color: var(--background);
}

header > nav > a {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(209, 237, 255, 0.25);
}

header > nav > .media {
  display: flex;
  justify-content: space-around;
  padding: 1em 8em;
}
