@import url("https://fonts.googleapis.com/css2?family=Moon+Dance");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500");

:root {
  --text: #384a5b;
  --orange: #f54100;
  --background: #d1edff;
  --primary: #4d6c87;
  --secondary: #4c3998;
  --accent: #ff713d;
  --logo-font: "Moon Dance";
  --primary-font: "Plus Jakarta Sans";
  --header-font: Rajdhani;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font), sans-serif;
}

#root {
  display: flex;
  background-color: var(--background);
  color: var(--text);
}

button {
  border: none;
  background-color: inherit;
}

p {
  max-width: 50ch;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 4rem;
  font-family: var(--header-font), sans-serif;
}

.page {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.5ch;
  border-bottom: 2px solid var(--text);
  background-color: var(--background);
  z-index: 10;
}

.logo {
  padding: 0 4.75rem;
  font-family: var(--logo-font), sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.contact {
  color: var(--background);
  background-color: var(--text);
  font-weight: 700;
  text-transform: uppercase;
}

.contact a {
  padding: 1.5rem 2rem;
}

.menu-btn-top {
  display: none;
}

@media screen and (max-width: 824px) {
  header {
    justify-content: space-between;
    padding: 1rem 4.5rem;
  }

  .logo {
    padding: 0;
  }

  .contact {
    display: none;
  }

  .menu-btn-top {
    position: relative;
    display: inline;
    color: var(--text);
    font-size: 1.75rem;
  }

  .menu-btn-top:hover {
    cursor: pointer;
  }

  .menu-btn-top > .icon {
    vertical-align: text-bottom;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: calc(100% - 10rem);
  padding: 5rem;
}

@media screen and (max-width: 565px) {
  section {
    padding: 20% 0;
  }
}

hr {
  width: 90%;
  border: 1px solid var(--primary);
}

hr.contact-rule {
  width: calc(100% - 2px);
  margin: 0;
  border-color: var(--text);
}

main p,
main a {
  margin-bottom: 1.5rem;
}

#about {
  display: flex;
  justify-content: flex-start;
  min-height: 25rem;
  padding-bottom: 3rem;
}

.copy {
  flex: 2;
  margin-right: 5%;
}

.tech-stack {
  flex: 1;
}

.copy a {
  text-decoration: underline;
}

.copy a:hover {
  color: var(--accent);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.project-list > * {
  width: 48%;
}

@media screen and (max-width: 1028px) {
  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project-list > * {
    width: 100%;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: var(--text);
  color: var(--background);
}

#contact > p {
  text-align: center;
}

#contact > form {
  display: flex;
  gap: 5%;
  width: 80%;
}

@media screen and (max-width: 824px) {
  #contact > form {
    flex-direction: column;
    gap: 1em;
  }
}

#contact > form > * {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact > form > .col-1 {
  gap: 1em;
}

#contact label {
  display: flex;
  flex-direction: column;
}

#contact textarea,
#contact input {
  margin-top: 0.25rem;
  border: 1px solid var(--background);
  border-radius: 0.25em;
  padding-left: 0.5em;
  font-family: "Plus Jakarta Sans";
  font-weight: 300;
}

#contact textarea:focus,
#contact input:focus {
  outline: var(--accent) auto 1px;
}

#contact input {
  height: 2rem;
}

#contact textarea {
  min-height: 6.5rem;
  resize: none;
}

#contact input[type="submit"] {
  align-self: flex-end;
  width: 45%;
  border: 1px solid var(--text);
  background-color: var(--background);
  color: var(--text);
  font-weight: 700;
}

@media screen and (max-width: 824px) {
  #contact input[type="submit"] {
    align-self: flex-start;
    width: 40%;
  }
}

@media screen and (max-width: 565px) {
  #contact input[type="submit"] {
    width: 100%;
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: 2px solid var(--text);
}

.top {
  position: absolute;
  top: 0;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  padding: 0 0.625em;
  background-color: var(--text);
  color: var(--background);
  font-size: 1.625rem;
}
